<h1>Welcome, <%= current_organization %>!</h1>

<%= link_to "Manage my suppliers", dashboard_suppliers_path, class: "block link" %>
<%= link_to "Browse the catalog", dashboard_variants_path, class: "block link" %>
