<h1>Welcome to the Consumer Demo</h1>

<p class="mb-3 max-w-lg">This is a simple demo application of the Procurement Consumers API. You can connect to
suppliers, search for products and create orders here.</p>

<p class="mb-6 max-w-lg">The source code is <a href="https://github.com/zaikio/consumer_demo" target="_blank">available on GitHub</a>.</p>

<%= button_to "Sign in with Zaikio", "/auth/zaikio", "data-turbo" => false, class: "bg-green-500 hover:bg-green-700 px-5 py-2 text-sm leading-5 rounded-full font-semibold text-white" %>
